<!doctype html>
<html class="no-js" lang="">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Xman - Personal Portfolio Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load i18n %}
        {% load static %}
        <link rel="icon" href="{% static 'core/img/icon.png' %}">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/slicknav.min.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
		
		<!-- Xman CSS -->
        <link rel="stylesheet" href="{% static 'core/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'core/style.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
    </head>
    <body>
		
		<!-- Social -->
		<div class="social-body">
			<ul>
				<li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
				<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
		</div>
		<!--/ End Social -->
		
		<!-- Header Area -->
		<header id="header" class="header">
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12">
							<div class="logo">
								<a href="index.html"><img src="{% static 'core/img/nnn.png' %}" alt="logo.png"></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-10 col-xs-12">
							<div class="mobile-menu"></div>
							<nav class="navbar navbar-default">
								<div class="collapse navbar-collapse">
									<ul id="nav" class="nav navbar-nav">
										<li class="current"><a href="#slider">Welcome</a></li>
										<li><a href="#about">About Me</a></li>
										<li><a href="#service">My Service</a></li>
										<li><a href="#skill">Skills</a></li>
										<li><a href="#story">Story</a></li>
										<li><a href="#latest-works">Portfolio</a></li>
										<li><a href="#blog">Blog</a></li>
										<li><a href="#contact">Contact</a></li>
									</ul>
								</div> 
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
        {% block content %}

		{% endblock %}
		<!-- Clients -->
		<div id="clients" class="clients section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="{% static 'core/img/brand-1.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'core/img/brand-2.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'core/img/brand-3.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'core/img/brand-4.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'core/img/brand-5.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'core/img/brand-6.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'core/img/brand-1.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Clients -->
		
		<!-- Footer -->
		<footer id="footer" class="footer section">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="logo">
								<img src="{% static 'core/img/nnn.png' %}" alt="#">
							</div>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li><a href="#"><span class="fa fa-instagram"></span></a></li>
								<li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>© 2018 Distributed by <a href="https://themewagon.com/">ThemeWagon</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->
		
        <script src="{% static 'core/js/jquery.min.js' %}">  </script>
        <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'core/js/jquery.nav.js' %}"></script>
        <script src="{% static 'core/js/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'core/js/easing.min.js' %}"></script>
		<script src="{% static 'core/js/jquery-appear.js' %}"></script>
        <script src="{% static 'core/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="{% static 'core/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'core/js/isotope.pkgd.min.js' %}"></script>
		<script src="{% static 'core/js/wow.min.js' %}"></script>
		<script src="{% static 'core/js/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0RqLa90WDfoJedoE3Z_Gy7a7o8PCL2jw"></script>
        <script type="text/javascript" src="{% static 'core/js/gmaps.min.js' %}"></script>
        <script src="{% static 'core/js/main.js' %}"></script>
    </body>
</html>
